*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;  
    overflow-x: hidden;
}

section{
    position: relative;
}

.packet{
    height: 470vh;
    /* width: 100%; */
    position: relative;
    background-color: black;
}

.nav-container{
    background-color:  black;
    opacity: 0.8;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
}

.NavWrapper nav{
    margin: 0;
    padding: 0;
}

.NavWrapper nav ul {
    list-style: none;
    display: flex;
}

.NavWrapper nav ul li{
    top: .75rem;
    padding: 9px;
    list-style: none;
    position: relative;
    display: inline-block;
}

.NavWrapper nav ul li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: 800;
}

.NavWrapper .BrandLogo{
    right: 0;
    background-image: url(/img/Logo.png);
    height: 40px;
    width: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.NavWrapper .dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    height: 25em;
    width: 100vw;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(250, 250, 250, 0.603);
}


.dropdown:hover .dropdown-content {
    display: block;
    top: 5em;
}
.NavWrapper .dropdown-content .dropdownimgGT{
    background-image: url(/img/GT.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
    width: 490px;
    padding: q5rem;
}


/* .NavWrapper .dropdown .dropdown-content .BespokeModel{
    position: absolute;
} */

.NavWrapper .dropdown .dropdown-content .BespokeModel ul{
    display: flex;
    padding: 2.5rem;
}

.NavWrapper .dropdown .dropdown-content .BespokeModel ul li{
    padding: 5px 100px 20px 10px;
}

.NavWrapper .dropdown-content .BespokeModel ul .dropdownimgP1{
    background-image: url(/img/P1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 230px;
    width: 400px;
}

.NavWrapper .dropdown-content .BespokeModel ul .dropdownimgbespoke1{
    background-image: url(/img/bespokeone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 230px;
    width: 400px;
}

.NavWrapper .dropdown-content .BespokeModel ul .dropdownimgbespoke2{
    background-image: url(/img/bespoke3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 450px;
}

.NavWrapper .dropdown-content .SuperModel ul .dropdownimgbespoke2{
    background-image: url(/img/bespoke3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 400px;
}

.NavWrapper .dropdown-content .SuperModel ul .dropdownimgP1{
    background-image: url(/img/hypertwo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 380px;
}

.NavWrapper .dropdown-content .SuperModel ul .dropdownimgbespoke1{
    background-image: url(/img/hyper3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 380px;
}

.NavWrapper .dropdown-content .HyperModel ul .dropdownimgbespoke1{
    background-image: url(/img/McLaren-Speedtail-Albert-2021-5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 299px;
    width: 409px;
}

.NavWrapper .dropdown-content .HyperModel ul .dropdownimgP1{
    background-image: url(/img/hypertwo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 400px;
}

.NavWrapper .dropdown-content .HyperModel ul .dropdownimgbespoke2{
    background-image: url(/img/McLaren-Elva-2021-6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 400px;
}


.HamburgerNav {
    right: 0;
    position: relative;
}

.HamburgerNav ul{
    display: flex;
}

.HamburgerNav .hamburger-navbar-links ul li{
    padding: 10px;
    display: block;
}

.HamburgerNav .hamburger-navbar-links ul li a{
    color: white;
    cursor: pointer;
    right: 0;
}

.HamburgerNav .toggle-button{
    height: 45px;
    width: 65px;
    background-image: url(/img/hamburgermenu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: none;
    right: 0;
    top: .75rem;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .HamburgerNav{
        opacity: 0.5;
    }
    .HamburgerNav .toggle-button{
        display: flex;
    }

    .HamburgerNav .hamburger-navbar-links {
        display: none;
        width: 100%;
    }

    .HamburgerNav nav{
        flex-direction: column;
        align-items: flex-start;
    }

    .HamburgerNav .hamburger-navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .HamburgerNav .hamburger-navbar-links li {
        text-align: center;
    }
    .HamburgerNav .hamburger-navbar-links li a{
        padding: .5rem 1rem;
    }

    .HamburgerNav .hamburger-navbar-links ul li a{
        color: white;
    }
    .HamburgerNav .hamburger-navbar-links ul li a:hover{
        color: white;
    }
    .hamburger-navbar-links.active{
        display: flex;
    }

    .bodysection-firstsection{
        top: 50px;
    }


    .bodysection-firstsection .TextSection{
        top: 450px;
        bottom: 0;

    }
    .bodysection-firstsection .TextSection h1{
        font-family: "QuickSand" sans-serif;
        font-size: 31px;
        font-weight: 600;
        color: white;
    }
    .bodysection-firstsection .TextSection p{
        font-family: "QuickSand" sans-serif;
        font-size: 54px;
        color: white;
        font-weight: 900;
        width: 350px;
    }
    .bodysection-firstsection .Home-Video{
        top: 0;
        left: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        position: absolute;
    }
}


.bodysection-firstsection{
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    position: relative;
}

.bodysection-firstsection .body-section{
    position: relative;
    padding: 0;
}


.Home-Video {
    top: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 1; 
    opacity: 0.55;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
 
}

.TextSection {
    position: absolute;
    bottom: 200px;
    width: 100%;
    z-index: 2;
}

.TextSection h1{
    font-family: "QuickSand" sans-serif;
    font-size: 41px;
    font-weight: 200;
    color: white;
}

.TextSection p{
    font-family: "QuickSand" sans-serif;
    font-size: 114px;
    color: white;
    font-weight: 200;
    width: 850px;
}

.bodysectionWrapper{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    right: 0;
    top: 30;
}

.bodysection-secondsection {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 61rem;
    left: 0px;
    /* top: 71.20rem; */
    position: relative;     
}

.bodysection-secondsection ul {
    display: flex;
}

.bodysection-secondsection ul li {
    margin-top: 30px;
    display: block;
    padding: 10px;
    list-style: none;
}

.bodysection-secondsection .one{
    font-size: 52px;
    color: white;
}

.bodysection-secondsection p{
    font-size: 25px;
    color: white;
}

.bodysection-secondsection .secondsectionimg{
    background-image: url(/img/kindpng_3838228.png);
    height: 38em;
    width: 100%;
    bottom: 250px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bodysection-secondsectiontwin{
    background-color: black;
    height: 50rem;
    position: absolute;
}

.bodysection-secondsectiontwin ul {
    display: flex;
}

.bodysection-secondsectiontwin .secondsectionimgtwo{
    background-image: url(/img/Mclaren-PNG-Photo-Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    height: 38rem;
}

.bodysectionWrapper .bodysection-secondsectiontwin  p{
    padding: 10px;
    color: white;
    font-size: 27px;
}

.bodysectionWrapper  .bodysection-secondsectiontwin h1{
    font-size: 90px;
    color: white;
    padding: 50px;
}

.bodysectionWrapper .footerSection{
    /* background-color: white; */
    position: relative;
    top: 85em;
}

.bodysectionWrapper .footerSection .firstfootersection{
    height: 49rem;
    padding: 12em;
    width: 100%;
    right: 0;
    left: 0;
    position: absolute;
    background-image: url(/img/footersection.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bodysectionWrapper .footerSection h2{
    color: white;
    font-family: "QuickSand" sans-serif;
    font-size: 85px;
}

.bodysectionWrapper .footerSection p{
    color: white;
    font-family: "QuickSand" sans-serif;
    font-size: 40px;
}

.bodysectionWrapper .footerSection button{
    color: black;
    border-radius: 10px;
    height: 2.5em;
    width: 5em;
} 

.bodysectionWrapper .footerSection .secondfootersection{
    padding: 6em;
    background-color: black;
    position: absolute;
    top: 35em;
    height: 29em;
    width: 100%;
}

.bodysectionWrapper .footerSection .secondfootersection-secondpart{
    background-image: linear-gradient(black, rgb(61, 61, 61), black, black);
}


.bodysectionWrapper .footerSection .secondfootersection ul{
    padding: 1em;
}

.bodysectionWrapper .footerSection .secondfootersection ul li{
    color: white;
    font-size: 29px;
    list-style: none;
    padding: 0.5em;
}

.bodysectionWrapper .footerSection .secondfootersection-secondpart ul .followus{
    color: white;
    font-size: 42px;
    padding: 0.5em;
}

.bodysectionWrapper .footerSection .secondfootersection-secondpart ul .Instagram{
    background-image: url(/img/instagram.png);
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bodysectionWrapper .footerSection .secondfootersection-secondpart ul .Facebook{
    background-image: url(/img/facebook.png);
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.bodysectionWrapper .footerSection .secondfootersection-secondpart ul .Whatsapp{
    background-image: url(/img/whatsapp.png);
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


